//
// App Config
// ----------------------
//URL_BUCKET = '//s3-us-west-1.amazonaws.com/test.i.tom-img.com/'
URL_BUCKET = '//dzt1km7tv28ex.cloudfront.net/'
// Webfont src
PATH_TO_WEBFONTS = '/fonts'

//
// Global style
// ----------------------
BODY_BACKGROUND_COLOR = #FFFFFF
SITE_MAIN_COLOR = #FF0000
SITE_BLACK_COLOR = #202020
SITE_GRAY_COLOR = #D0D0D0

TEXT_COLOR = #202020

LINK_COLOR = TEXT_COLOR
LINK_HOVER_COLOR = SITE_MAIN_COLOR
LINK_HOVER_DECARATION = none
LINK_BLUE_COLOR = #0971B2

FORM_GRAY_COLOR = SITE_GRAY_COLOR
FORM_GRAY_LIGHT_COLOR = #eee
FORM_FOCUS_COLOR = #00A3AF
FORM_ERROR_COLOR = #E60033

HEADER_HEIGHT = 64px
PAGE_HEADER_BACKGROUND_COLOR_BASE = #F2F2F2

COMTENTS_END_PADDING = 160px

//
// Basic Colors
// ----------------------
COLOR_TEXT_MUTED = #888
// TODO: 汎用的なカラー あとで考える
COLOR_GRAY_BASE = #000
COLOR_GRAY_DARKER = #222
COLOR_GRAY_DARK = #333
COLOR_GRAY = #555
COLOR_GRAY_LIGHT = #777
COLOR_GRAY_LIGHTER = #f8f8f8
COLOR_WHITE = #fff

// Form Colors
COLOR_SUBMIT = #039be5
// 線
BORDER_COLOR = #d0d0d0
HR_COLOR = BORDER_COLOR

// テキスト
COLOR_TEXT_BLACK = TEXT_COLOR
COLOR_TEXT_WHITE = #ffffff
COLOR_SUB_TEXT = #7a7a7a

// Social Media colors
COLOR_FACEBOOK   = #3b5998
COLOR_TWITTER    = #55ACEE
COLOR_TUMBLR     = #36465D

// Japanese Traditional Colors
COLOR_SHIRONEZU = #dcdddd // 白鼠 - Default Background color
COLOR_CYAN500 = #00bcd4 // Cyan 500 - Primary Background color
COLOR_NEZUIRO = #949495 // 鼠色 - Secondary Background color
COLOR_WAKABAIRO = #c3d825 // 若葉色 - Success Background color
COLOR_SORAIRO = #a0d8ef // 空色 - Info Background color
COLOR_YAMABUKIIRO = #f8b500 // 山吹色 - Warning Background color
COLOR_KOKIHI = #c9171e // 深緋 - Danger Background color
COLOR_KURO = #2b2b2b // 黒 - Naught Background color
COLOR_MIKANIRO = #f08300 // 蜜柑色 - Action / Cart button color
COLOR_USUAI = #0094c8 // 薄藍 - Form Focus/Active color
COLOR_HIWAMOEGI = #82ae46 // 鶸萌黄 - 暖色ではない強調文字色に使用

//-- 角丸
BORDER_RADIUS_BASE = 0
BORDER_RADIUS_EDGELESS = 4px
BORDER_RADIUS_ROUND = 1000px
BORDER_RADIUS_CIRCLE = 50%

//-- 角丸
BORDER_RADIUS_BASE = 0
BORDER_RADIUS_EDGELESS = 4px
BORDER_RADIUS_ROUND = 1000px
BORDER_RADIUS_CIRCLE = 50%


//
// Typography
// ----------------------
FONT_FAMILY_BASE = 'Roboto', 'Avenir Next', Avenir, Helvetica, Arial, sans_serif

FONT_FAMILY_JA = 'Roboto', 'Avenir Next', Avenir, Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", YuGothic, "游ゴシック", Meiryo, 'メイリオ', sans-serif
HEADING_FONT_FAMILY_JA = FONT_FAMILY_JA

FONT_FAMILY_ZH-CN = 'Roboto', Helvetica, '微軟雅黒', '宋体', 'Simhei','MS UI Gothic','Hei', sans-serif
HEADING_FONT_FAMILY_ZH-CN = FONT_FAMILY_ZH-CN

FONT_FAMILY_ZH-TW = 'Roboto', Helvetica, '微軟正黑體', 'PMingLiU', 'Apple LiSung', sans-serif
HEADING_FONT_FAMILY_ZH-TW = FONT_FAMILY_ZH-TW


// Font size
// HTML の font-size が 10px を基準とする
FONT_SIZE_BASE = 1.4rem
FONT_SIZE_XXLARGE = 3.0rem // 30px
FONT_SIZE_XLARGE = 2.1rem // 24px
FONT_SIZE_LARGE = 1.8rem // 18px
FONT_SIZE_MIDDLE = 1.6rem // 16px
FONT_SIZE_SMALL = 1.2rem // 12px
FONT_SIZE_XSMALL = 1.0rem // 10px

FONT_SIZE_H1 = 3.6rem
FONT_SIZE_H2 = 3.0rem
FONT_SIZE_H3 = 2.4rem
FONT_SIZE_H4 = 2.1rem
FONT_SIZE_H5 = 1.8rem
FONT_SIZE_H6 = 1.6rem

LINE_HEIGHT_BASE = 1.428571429 // 20/14

FONT_WEIGHT_LIGHT = 100
FONT_WEIGHT_NORMAL = 400
FONT_WEIGHT_BOLD = 700

HEADING_FONT_FAMILY = inherit
HEADING_FONT_WEIGHT = FONT_WEIGHT_NORMAL
HEADING_LINE_HEIGHT = 1.11
HEADING_COLOR = inherit

//
// Grid Variables
// ----------------------
GRID_COLUMNS = 12
GRID_GUTTER = 15px
GRID_CONTAINER_MIN_WIDTH = 1080px
GRID_CONTAINER_MAX_WIDTH = 1440px

DOCUMENT_MAX_WIDTH = 960px
DOCUMENT_SINGLE_COLUMN_MAX_WIDTH = 720px

// Small screen / for Mobile phone
SCREEN_SM = 480px
// Midium screen / for Tablet
SCREEN_MD = 768px
// Large screen / for Desctop
SCREEN_LG = 992px
// Extra Large screen / for Wide Desctop
SCREEN_XL = 1200px

SCREEN_SM_MIN = SCREEN_SM
SCREEN_MD_MIN = SCREEN_MD
SCREEN_LG_MIN = SCREEN_LG
SCREEN_XL_MIN = SCREEN_XL

SCREEN_SM_MAX = (SCREEN_MD - 1)
SCREEN_MD_MAX = (SCREEN_LG - 1)
SCREEN_LG_MAX = (SCREEN_XL - 1)

//
// Layer Depth (z-index)
// ----------------------
Z-INDEX_TOOLTIP = 10
Z-INDEX_NAV = 19
Z-INDEX_GLOBAL_DROPDOWN = 20
Z-INDEX_NOTIFICATION = 100
Z-INDEX_MENU = 200
Z-INDEX_DROPDOWN = 500
Z-INDEX_HEADER = 800
Z-INDEX_HEADER_NOTIFICATION = 850
Z-INDEX_NOTIFY = 1030
Z-INDEX_CART = 1020
Z-INDEX_MODAL = 1040 // Bootstrap Modal


//
// Forms
// ----------------------
INPUT_COLOR = TEXT_COLOR
INPUT_BACKGROUND_COLOR = #fff

INPUT_PLACEHOLDER_COLOR = FORM_GRAY_COLOR
INPUT_PLACEHOLDER_OPACITY = 1

INPUT_DISABLED_COLOR = #808080
INPUT_DISABLED_BACKGROUND_COLOR = FORM_GRAY_LIGHT_COLOR

INPUT_PADDING_VERTICAL_BASE = 6px
INPUT_PADDING_HORIZONTAL_BASE = 12px

INPUT_PADDING_VERTICAL_SMALL = 3px
INPUT_PADDING_HORIZONTAL_SMALL = 6px
INPUT_PADDING_VERTICAL_LARGE = 10px
INPUT_PADDING_HORIZONTAL_LARGE = 14px

INPUT_HEIGHT_BASE = 3.3rem
INPUT_HEIGHT_SMALL = 2.5rem
INPUT_HEIGHT_LARGE = 4.6rem

INPUT_BORDER_COLOR = FORM_GRAY_COLOR
INPUT_BORDER_WIDTH = 2px

INPUT_FOCUS_BORDER_COLOR = FORM_FOCUS_COLOR
INPUT_ACTIVE_BORDER_COLOR = FORM_FOCUS_COLOR
INPUT_ACTIVE_BACKGROUND_COLOR = FORM_FOCUS_COLOR
INPUT_ERROR_COLOR = FORM_ERROR_COLOR
INPUT_ERROR_BORDER_COLOR = FORM_ERROR_COLOR
INPUT_ERROR_BACKGROUND_COLOR = #fce5ea

INPUT_CHECK_BACKGROUND_COLOR = FORM_GRAY_COLOR

INPUT_SELECT_HOVER_COLOR = FORM_FOCUS_COLOR

INPUT_GROUP_LABEL_BACKGROUND_COLOR = rgba(0,0,0,.04)

//
// Tables
// ----------------------
TABLE_PADDING_VERTICAL_BASE = .8rem
TABLE_PADDING_HORIZONTAL_BASE = 1rem

TABLE_PADDING_VERTICAL_SMALL = .4rem
TABLE_PADDING_HORIZONTAL_SMALL = .6rem
TABLE_PADDING_VERTICAL_LARGE = 1.4rem
TABLE_PADDING_HORIZONTAL_LARGE = 1.8rem

TABLE_BORDER_COLOR = BORDER_COLOR
TABLE_BACKGROUND_COLOR_HEADER = #f3f3f2 // 白練色

TABLE_BACKGROUND_COLOR_STRIPE = rgba(0, 0, 0, .025)
TABLE_BACKGROUND_COLOR_HOVER = #f7fcfe // 卯の花色

//
// Components
// ==============================================

//
// Button
// ----------------------
BUTTON_PADDING_VERTICAL_BASE = 8px
BUTTON_PADDING_HORIZONTAL_BASE = 14px

BUTTON_PADDING_VERTICAL_XSMALL = 1px
BUTTON_PADDING_HORIZONTAL_XSMALL = 6px
BUTTON_PADDING_VERTICAL_SMALL = 4px
BUTTON_PADDING_HORIZONTAL_SMALL = 10px
BUTTON_PADDING_VERTICAL_LARGE = 12px
BUTTON_PADDING_HORIZONTAL_LARGE = 32px
BUTTON_PADDING_VERTICAL_XLARGE = 16px
BUTTON_PADDING_HORIZONTAL_XLARGE = 40px

// button color
BUTTON_COLOR_BASE = TEXT_COLOR
BUTTON_BACKGROUND_COLOR_BASE = #f8f8f8
BUTTON_BORDER_COLOR_BASE = #d0d0d0

BUTTON_DISABLED_COLOR_BASE = #bbb
BUTTON_DISABLED_BACKGROUND_COLOR_BASE = #eee
BUTTON_DISABLED_BORDER_COLOR_BASE = transparent

BUTTON_DEFAULT_COLOR = TEXT_COLOR
BUTTON_DEFAULT_BACKGROUND_COLOR = #F0F0F0
BUTTON_DEFAULT_BORDER_COLOR = #F0F0F0

BUTTON_PRIMARY_COLOR = #fff
BUTTON_PRIMARY_BACKGROUND_COLOR = #00A3AF
BUTTON_PRIMARY_BORDER_COLOR = transparent

BUTTON_SECONDARY_COLOR = COLOR_WHITE
BUTTON_SECONDARY_BACKGROUND_COLOR = COLOR_NEZUIRO
BUTTON_SECONDARY_BORDER_COLOR = transparent

BUTTON_ACTION_COLOR = #fff
BUTTON_ACTION_BACKGROUND_COLOR = COLOR_MIKANIRO
BUTTON_ACTION_BORDER_COLOR = transparent

BUTTON_ALERT_COLOR = #fff
BUTTON_ALERT_BACKGROUND_COLOR = COLOR_KOKIHI
BUTTON_ALERT_BORDER_COLOR = transparent

// もともと下部のCommon Project内にあった
BUTTON_SIGNUP_COLOR = #ffffff
BUTTON_SIGNUP_BACKGROUND_COLOR = #A3BA20
BUTTON_SIGNUP_BORDER_COLOR = #A3BA20


//
// Labels
// ----------------------
LABEL_DEFAULT_COLOR = COLOR_GRAY_DARK
LABEL_DEFAULT_BACKGROUND_COLOR = COLOR_SHIRONEZU

LABEL_PRIMARY_COLOR = COLOR_WHITE
LABEL_PRIMARY_BACKGROUND_COLOR = COLOR_CYAN500

LABEL_SECONDARY_COLOR = COLOR_WHITE
LABEL_SECONDARY_BACKGROUND_COLOR = COLOR_NEZUIRO

LABEL_SUCCESS_COLOR = COLOR_GRAY_DARK
LABEL_SUCCESS_BACKGROUND_COLOR = COLOR_WAKABAIRO

LABEL_INFO_COLOR = COLOR_GRAY_DARK
LABEL_INFO_BACKGROUND_COLOR = COLOR_SORAIRO

LABEL_WARNING_COLOR = COLOR_WHITE
LABEL_WARNING_BACKGROUND_COLOR = COLOR_YAMABUKIIRO

LABEL_DANGER_COLOR = COLOR_WHITE
LABEL_DANGER_BACKGROUND_COLOR = COLOR_KOKIHI

LABEL_NAUGHT_COLOR = COLOR_WHITE
LABEL_NAUGHT_BACKGROUND_COLOR = COLOR_KURO

//
// Tooltip
// ----------------------
TOOLTIP_OPACITY = .95

TOOLTIP_DEFAULT_COLOR = COLOR_WHITE
TOOLTIP_DEFAULT_BACKGROUND_COLOR = COLOR_KURO

TOOLTIP_PRIMARY_COLOR = LABEL_PRIMARY_COLOR
TOOLTIP_PRIMARY_BACKGROUND_COLOR = LABEL_PRIMARY_BACKGROUND_COLOR

TOOLTIP_SECONDARY_COLOR = LABEL_SECONDARY_COLOR
TOOLTIP_SECONDARY_BACKGROUND_COLOR = LABEL_SECONDARY_BACKGROUND_COLOR

TOOLTIP_SUCCESS_COLOR = LABEL_SUCCESS_COLOR
TOOLTIP_SUCCESS_BACKGROUND_COLOR = LABEL_SUCCESS_BACKGROUND_COLOR

TOOLTIP_INFO_COLOR = LABEL_INFO_COLOR
TOOLTIP_INFO_BACKGROUND_COLOR = LABEL_INFO_BACKGROUND_COLOR

TOOLTIP_WARNING_COLOR = LABEL_WARNING_COLOR
TOOLTIP_WARNING_BACKGROUND_COLOR = LABEL_WARNING_BACKGROUND_COLOR

TOOLTIP_DANGER_COLOR = LABEL_DANGER_COLOR
TOOLTIP_DANGER_BACKGROUND_COLOR = LABEL_DANGER_BACKGROUND_COLOR

//
// Menu
// ----------------------
MENU_PADDING_VERTICAL_BASE = 7px
MENU_PADDING_HORIZONTAL_BASE = 10px

MENU_VERTICAL_PADDING_VERTICAL_BASE = 12px
MENU_VERTICAL_PADDING_HORIZONTAL_BASE = 10px

MENU_COLOR_BASE = TEXT_COLOR

MENU_BACKGROUND_COLOR_BASE = transparent
MENU_COLOR_LINK = #0971B2
MENU_COLOR_HOVER = #009ADD
MENU_BACKGROUND_COLOR_HOVER = transparent

//
// Message
// ----------------------
MESSAGE_PADDING_VERTICAL_BASE = 1rem
MESSAGE_PADDING_HORIZONTAL_BASE = 1.5rem
MESSAGE_PADDING_VERTICAL_SMALL = 0.5rem
MESSAGE_PADDING_HORIZONTAL_SMALL = 1rem

MESSAGE_ICON_SIZE_BASE = 2.4rem

MESSAGE_INFO_COLOR = darken(#48a9ed, 20%)
MESSAGE_INFO_BORDER_COLOR = #48a9ed
MESSAGE_INFO_BACKGROUND_COLOR = lighten(#48a9ed, 80%)

MESSAGE_SUCCESS_COLOR = darken(#6ea406, 20%)
MESSAGE_SUCCESS_BORDER_COLOR = #6ea406
MESSAGE_SUCCESS_BACKGROUND_COLOR = lighten(#6ea406, 80%)

MESSAGE_WARN_COLOR = darken(#f7c114, 20%)
MESSAGE_WARN_BORDER_COLOR = #f7c114
MESSAGE_WARN_BACKGROUND_COLOR = lighten(#f7c114, 80%)

MESSAGE_DANGER_COLOR = darken(#c9171e, 20%)
MESSAGE_DANGER_BORDER_COLOR = #c9171e
MESSAGE_DANGER_BACKGROUND_COLOR = lighten(#c9171e, 80%)
