doctype html
html
  head
    meta(charset='utf-8')
    title Facebook Like VS Reactions
    link(rel='stylesheet', href='./styles/entypo.css')
    link(rel='stylesheet', href='./styles/app.css')

  body
    #app
      #config(:class="[openConfig ? 'open' : 'close']")
        button.config__toggle(@click='toggleConfigOpen')
          i.icon-cog
        .config__container
          .config__heading Basic Settings
          .config__body
            .form__item
              label(for='input-accessToken') Access Token
              input#input-accessToken.form-ctl(type='text', v-model='accessToken')

            .form__item
              label(for='input-postId') Post ID
              input#input-postId.form-ctl(type='text', v-model='postId')

            .form__item
              label(for='input-interval') Update Interval
              select#input-interval.form-ctl(v-model='intervalSec', style='max-width: 8em;')
                option(value='1.5') 1.5 sec
                option(value='2') 2 sec
                option(value='3') 3 sec
                option(value='5') 5 sec
          .config__heading Reactions Settings
          .config__body
            .form__item
              label(for='input-interval') Reactions
              div
                vue-add-reactions(v-for='(reaction, index) in reactions', :reaction='reaction', @remove="removeReaction")
                .c-media
                  button.btn.btn--clear.btn--fill.btn--icon-inline(@click='addReaction')
                    i.icon-plus-circled(style="color:#2e7d32;")
                    | Add Reaction
            .form__item
              label(for='input-reaction-font-size') Font Size
              input#input-reaction-font-size(type="range", min="18", max="64", step="1", :value="reactionFontSize", v-model="reactionFontSize")
            .form__item
              label(for='input-reaction-padding') Padding
              input#input-reaction-padding(type="range", min="10", max="100", step="1", :value="reactionPadding", v-model="reactionPadding")
          .config__heading Screen Settings
          .config__body
            .form__item
              label(for='input-screenSize') Display Screen Size
              select#input-screenSize.form-ctl(v-model='screenSize')
                option(value='720p') 720p (1280px * 720px)
                option(value='1080i') 1080i (1920px * 1080px)
          .config__heading Countdown Settings
          .config__body
            .form__item
              label(for='input-countdownMinutes') Countdown Minutes
              select#input-countdownMinutes.form-ctl(v-model='countdownMinutes', style='max-width: 8em;')
                option(v-for="min in selectableCountdownMinutes", value='min', v-text="min + ' min'")

      #screen.screen.screen--black(:style="{" +
      "width: resolution.width + 'px'," +
      "height: resolution.height + 'px'," +
      "marginTop: -(resolution.height / 2) + 'px'," +
      "marginLeft: -(resolution.width / 2) + 'px'" +
      "}")
        .screen__reactions.screen__reactions--bottom
          vue-screen-reaction(v-for='(reaction, index) in reactions', :reaction='reaction', :padding="reactionPadding", :font-size="reactionFontSize")

    template(id='vue-add-reactions')
      .c-media
        .c-media__left
          button.btn.btn--clear(style="color:#b71c1c", @click="remove")
            i.icon-minus-circled
        .c-media__body
          select.form-ctl(v-model='reaction.name')
            option(v-for='r in selectableReactions', :value='r') {{r.toUpperCase()}}

    template(id='vue-screen-reaction')
      .reaction(:style="{ paddingLeft: padding + 'px', paddingRight: padding + 'px', width: (100 / $parent.reactions.length) + '%' }")
        .reaction__media
          .reaction__emoji
            img(:src="'emojis/' + (reaction.name || 'undefined') + '.png'", :style="{ maxWidth: fontSize + 'px' }")
          span.reaction__counter(v-text='reaction.count', :style="{ fontSize: fontSize + 'px' }")


    script(src='./scripts/vendor/vue.js')
    script(src='./scripts/main.js')

